{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Global Snippets plugin for Craft CMS 3.x
 *
 * Global Snippets _edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   GlobalSnippets
 * @since     1.0.0
 */
#}
{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'settings' %}
{% set title = snippet.name|length ? snippet.name : 'Add New Snippet' %}
{% set options = [] %}
{% for group in groups %}
    {% set options = options|merge([{ label: group.name|title, value: group.id|lower }]) %} 
{% endfor %}
{% set crumbs = [
    { label: "Global Snippets", url: url('global-snippets/') },
    { label: "Settings", url: url('global-snippets/settings') }, 
] %}

{% block content %}
    <h2>{{ snippet.name|length ? 'Edit ' ~ snippet.name : 'Add New'}}</h2>
    <form method="POST">
    {{ csrfInput() }}
    {{ redirectInput('global-snippets/settings') }}
    {{ forms.hidden({
    name: 'action',
    value: 'global-snippets/snippets/save' })
    }}
    {#  ID -HIDDEN #}
    {{ forms.hidden({
    label: 'Snippet ID',
    id: 'snippetId',
    name: 'snippetId',
    value: snippet.id ?? '' })
    }}
    {# NAME #}
    {{ forms.textField({
    label: 'Name',
    instructions: 'Add/Edit snippet name',
    id: 'name',
    name: 'name',
    value: snippet.name ?? '',
    required: true, })
    }}
    {# HANDLE #}
    {{ forms.textField({
    label: 'Snippet Handle',
    instructions: 'How it is referenced in templates',
    id: 'handle',
    name: 'handle',
    value: snippet.handle ?? '',
    required: true, })
    }}
    {# SNIPPET GROUP #}
    <div class="field" id="{{ snippet.handle }}-field" data-relabel="true">
        <div class="heading">
            <label for="content">Snippet Group</label>
            <div class="instructions">Select a Snippet Group or create a new one?</div>
        </div>
    <div class="flex">
            <div>
                {{ forms.select({
                    id: 'snippetGroup',
                    name: 'snippetGroup',
                    options: options,
                    value: snippet.snippetGroup|length ? groups[snippet.snippetGroup].id ,
                    required: true
                }) }}
            </div>
        </div>
    </div>
    {# Custom Instructions #}
    {{ forms.textField({
    label: 'Instruction',
    instructions: 'Enter user instructions',
    id: 'instruction',
    name: 'instruction',
    value: snippet.instruction,
    required: true })
    }}
    <div class="field" id="{{ snippet.handle }}-field" data-relabel="true">
        <div class="heading">
            <label for="content">Content</label>
            <div class="instructions">Enter default content</div>
        </div>
        {{ forms.textArea({
            id: 'content',
            name: 'content',
            value: snippet.content ?? '',
            require: true, })
        }}
    </div>

        <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
</form>
{% endblock %}

{% if snippet is empty or snippet.handle is empty %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}