{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Global Snippets plugin for Craft CMS 3.x
 *
 * Global Snippets Settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   GlobalSnippets
 * @since     2.0.0
 */
#}

{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'snippets' %}
{% set title = "Global Snippets" %}

{% set currentGroup = craft.request.segments|last %}
{% if currentGroup == 'global-snippets' %}
    {% set selectedSidebarNavItem = 'all' %}
{% else %}
    {% set selectedSidebarNavItem = currentGroup %}
{% endif %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'global-snippets/' ~ ((currentGroup == 'global-snippets') ? '' : currentGroup) %}

{% block actionButton %}
        <div class="buttons">
            <input type="submit" value="Save" class="btn submit add icon">
        </div>
{% endblock %}

{% block sidebar %}
    <h2>Groups</h2>
    <div id="groups">
        <nav>
            <ul id="groups">
                <li><a href="{{ url('global-snippets/') }}"{% if selectedSidebarNavItem == 'all' %} class="sel"{% endif %}>All</a></li>
                {% for group in groups %}
                    <li><a href="{{ url('global-snippets/'~group.id) }}"{% if selectedSidebarNavItem == group.id %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    
{% endblock %}

{% block content %}
    <h2>Edit Site Global Snippets</h2>
    <div id="snippets">
        {% set redirect = craft.request.getUrl %}
        {{ csrfInput() }}
        {{ redirectInput( redirect ) }}
        {{ forms.hidden({
            name: 'action',
            value: 'global-snippets/snippets/save-content' })
        }}
        {% for snippet in snippets %}
                {% include "_includes/fields" with {
                    namespace: 'fields['~snippet.id~']',
                    fields: snippet.getFieldLayout() ? snippet.getFieldLayout().getFields() : '',
                    element: snippet} only %}            
        {% endfor %}
    </div>
{% endblock %}

{% js %}
    {% for snippet in snippets %}
        {% set fields = snippet.getFieldLayout().getFields() %}
        {% for field in fields %}
            {% set selector = '#snippets #fields-' ~ snippet.id ~ '-' ~ field.handle ~ '-field .heading' %}
            {% if loop.index == 1 %}
                $('{{ selector }} #fields-{{ snippet.id}}-{{ field.handle }}-label').text('{{ snippet.name }}');
                {% if snippet.instruction|length and field.instructions|length %}
                    $('{{ selector }} div.instructions').text('{{ snippet.instruction }}');
                {% elseif field.instructions|length and snippet.instruction|length == 0 %}
                    $('{{ selector }} div.instructions').remove();
                {% else %}
                    $('{{ selector }}').append('<div class="instructions">{{ snippet.instruction }}</div>');
                {% endif %}
            {% else %}
                //console.log({{field|lower}});
                //console.log($('{{ selector }} #fields-{{ snippet.id}}-{{ field.handle }}-label'));
                $('{{ selector }} #fields-{{ snippet.id}}-{{ field.handle }}-label').hide();
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endjs %}

